name: Debadatta job 
# trigger point 
on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "README.md"
      - "terraform.tfstate"

# creating jobs 
jobs:
  test-job:
    runs-on: ubuntu-latest 
    steps: # what exactly you want to run in ubuntu machine 
    - name: installing tf
      uses: hashicorp/setup-terraform@v3
      
    - name: Set up Docker
      uses: docker/setup-docker-action@v4

    - name: taking code from my repo
      uses: actions/checkout@v5
      with:
        ref: main

    - name: my first step to test github action 
      run: |
        echo "Hello world"
        git version 
        whoami
        ls -a
        terraform version
        docker version
    
  